# Ignora i file generati nella compilazione con pdfLaTeX e latexmk
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.toc
# ...tranne il file della licenza, che è tracciato
!by-sa-icon.pdf
